* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    height: 90px;
    
    width: 100%;
}

.logo {
    line-height: 90px;
    margin-left: 60px;
    border: 1px dotted;
    margin-top: 20px;
}

nav ul {
    float: right;
    margin-right: 20px;
    border: 1px dotted;
    margin-top: 35px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    
}

nav ul li a {
    
    color: #2C2C2C;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
}

a.active,a:hover {
    
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    margin-left: 20px;
    display: none;
}
.mobilelogo{
    
    float: right;
    border: 1px dotted;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 1366px) {
    .botao {
        height: 22px;
        width: 126px;
        display: inline-block;
    }
    .logo{
        
    }
    nav ul li a{
        font-size: 16px;

    }
    .home {
        font-size: 25px;
        line-height: 30.48px;
        text-align: center;
        margin: auto;
        margin-left: 21px;
        font-family: 'montserrat';
        margin-right: 120px;
    }
    
    .sobrenos {
        font-size: 25px;
        line-height: 30.48px;
        text-align: center;
        margin-right: 300px;
        font-family: 'montserrat';
        
    }
    
   /* #registro {
        font-size: 18px;
        
        height: 22px;
        width: 126px;
        left: 0px;
        top: 13px;
        border-radius: 5px;
        color: white;
        border: 1px solid #4450E4;
        background-color: #4450E4;
        font-weight: 700;
        text-align: center;
        margin: auto;
        padding: 13px;
    }
    #login {
        font-size: 18px;
        
        height: 22px;
        width: 126px;
        
        border-radius: 5px;
        color: #4450E4;
        border: 1px solid #4450E4;
        background-color: white;
        font-weight: 700;
        text-align: center;
        margin: auto;
        padding: 13px;
        margin-right: 41px;
    }*/
}

@media (max-width: 858px) {
    .logo {
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .mobilelogo{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background:none;
        color: #0082e6;

    }
    #check:checked ~ ul{
        left: 0;
    }
}