
               <!DOCTYPE html>
               <html xmlns:th="http://www.thymeleaf.org">
               
               
               <head>
                   <meta charset="UTF-8">
                   <meta http-equiv="X-UA-Compatible" content="IE=edge">
                   <meta name="viewport" content="width=device-width, initial-scale=1">
                   <title>Projeto FCamara Squad48</title>
                   <link rel="stylesheet" th:href="@{/css/menunavegacao.css}" />
                   <!--<link rel="stylesheet" href="css/bootstrap.min.css">
                   <link rel="stylesheet" href="css/lightslider.min.css">-->
               
                   <link rel="preconnect" href="https://fonts.gstatic.com">
                   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
                   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                   <!-- Icone Font Awesome-->
                   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                   <script src="https://kit.fontawesome.com/e199f902ef.js" crossorigin="anonymous"></script>
               </head>
               <body>
                <div class="vercaomobil">
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <span sec:authorize="isAuthenticated()" style="font-family: 'Montserrat'; margin: 10px;">
                        Olá, <span sec:authentication="principal.nome"></span>.</span>
                    <img class="mobilelogo" src="/img/logoMobile.png">
                    <img class="logo" src="/img/Logo 1.png">
                    <ul class="vercaomobil">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">Sobre Nós</a></li>
                        <li class="botao" sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                        <li class="botao" sec:authorize="isAnonymous()"><a href="/cadastro_usuario">Cadastro</a></li>
                        <li class="botao" sec:authorize="isAuthenticated()"><a href="/cadastro_usuario">Acesso</a></li>
                        <li class="botao" sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="flex-container invisivel">
                    <div class="flex-container">
                        <div>
                            <img src="/img/logo.png" id="logoG">
                        </div>
                        <div class="home">
                            <a href="/">Home</a>

                        </div>
                    </div>
                    <div class="sobrenos">
                        <a href="/about">Sobre nós</a>
                    </div>
                    <span sec:authorize="isAuthenticated()" style="font-family: 'Montserrat'; margin:30px;">
                    Olá, <span sec:authentication="principal.nome"></span>.</span>
                    <div class="flex-container">
                        <a href="/login" sec:authorize="isAnonymous()"><div class="login">Login</div></a>
                        <a href="/cadastro_usuario" sec:authorize="isAnonymous()"><div class="registro">Cadastro</div></a>
                        <a href="/escolhaPerfil" sec:authorize="isAuthenticated()"><div class="registro">Acesso</div></a>
                        <a href="/logout" sec:authorize="isAuthenticated()"><div class="login" style="margin-left: 30px; margin-right: 30px;">Logout</div></a>
                    </div>
                </div>
            </body>
