<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Sucesso no cadastro</title>
	<meta http-equiv="refresh" content="5;url=/login" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/default.css}" />
	<link rel="stylesheet" th:href="@{/css/menunavegacao.css}" />
	<script th:src="@{/js/menu.js}"></script>
</head>
<body style="text-align: center;">

		<h3>Você se cadastrou com sucesso! </h3>
		<h4>Aguarde 10 segundos para ser redirecionado para página de login ou <a href="/login">clique aqui</a></h4>
		
	
</body>
</html>