<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="refresh" content="3;url=/doacoes" />
	<title>Sucesso no cadastro</title>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/default.css}" />
	<script th:src="@{/js/menu.js}"></script>
</head>
<body style="text-align: center;">

	<nav class="lo"><div class="nav-placeholder"></div></nav>

	<div class="container text-center">
		<h3>Lista cadastrada com sucesso! </h3>
		<h4>Aguarde 3 segundos para ser redirecionado para página de doações ou <a href="/doacoes">clique aqui</a></h4>
	</div>
	
</body>
</html>